*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Helvetica Neue'

body
    background-color: #EFEFEF

nav
    background-color: black
    position: relative
    padding: 10px
    div
        color: white
    #logo
        font-size: 38px
        margin-left: 5%
    .menu
        ul
            display: flex
            list-style-type: none
            font-size: 25px
            position: absolute
            right: 12%
            top: 20px
            li
                margin: 0 10%

.container
    padding: 5%
    .banner
        display: flex
        // justify-content: space-between
        h2
            font-size: 40px
            font-weight: 400
        .btnContainer
            display: flex
            height: 40px
            button
                background: #CBB36D
                border: 1px solid #E2C87C
                border-radius: 5px
                padding: 0 30%
                font-size: 20px
                color: #FFFF
                margin: 0 0 0 20%
